.container {
    width: 95%;
    max-width: 80rem;
    margin: auto;
    background: #fff;
    height: 100%;
    padding: 1rem;
    overflow: auto;
}

.form {
    padding: 0.5rem;
    border: 1px solid #a9a9a9;
    border-radius: 0.5rem;
}

.spacer {
    display: inline-block;
    height: 1px;
    width: 100%;
    background: #eee;
    margin: 0.5rem 0;
}