<h2 class="section-title">General Role Maintenance</h2>
<form class="levelOne" [formGroup]="levelOneForm">
    <div>
        <div class="form-group">
            <label>Organization</label>
            <select class="form-control form-control-sm" formControlName="job_duty_id">
                <option></option>
                <option [value]="jobDuty.id" *ngFor="let jobDuty of firstLeveldata.jobDuties">{{jobDuty.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Channel</label>
            <select class="form-control form-control-sm" formControlName="channel_id">
                <option></option>
                <option [value]="ch.id" *ngFor="let ch of firstLeveldata.channels">{{ch.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Team</label>
            <select class="form-control form-control-sm" formControlName="team_id">
                <option></option>
                <option [value]="ch.id" *ngFor="let ch of firstLeveldata.teams">{{ch.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label>From Date</label>
                    <input formControlName="from_date" class="form-control form-control-sm" type="date" />
                </div>
                <div class="col-6">
                    <label>To Date</label>
                    <input formControlName="to_date" class="form-control form-control-sm" type="date" />
                </div>
            </div>
        </div>
    </div>

    <div class="applicationRole">
        <div class="form-group">
            <label>Business Job Role</label>
            <select class="form-control form-control-sm" formControlName="business_role_id">
                <option></option>
                <option [value]="br.id" *ngFor="let br of firstLeveldata.businessRoles">{{br.name}}</option>
            </select>
        </div>
    </div>
</form>

<div class="submit">
    <button class="btn btn-primary" (click)="save()">Save</button>
</div>