<div class="table-list">
    <div class="table-list__buttons">
        <label></label>
        <button type="button" class="btn btn-sm btn-primary" (click)="addNewApplication()">Add New Application</button>
    </div>

    <table class="table table-sm">
        <thead>
            <tr> 
                <th scope="col">System ID</th>
                <th scope="col">Description</th>
                <th scope="col">Allow Multiple</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let app of applications"> 
                <td>{{app.systemDescription}} </td>
                <!-- TODO: Fixed when translation is changed to dynamic -->
                <!-- <td>{{app.translations | itranslate}}</td> -->
                <td>{{app.translation.en}}</td>
                <td>{{app.allowMultiple ? 'Yes' : 'No'}}</td>
                <td class="table-list__actions">
                    <!-- <a (click)="view(app)">view</a> | 
                    <a (click)="showAppForm('edit', app)">edit</a> |  -->
                    <a (click)="view(app)">edit</a>
                    <a (click)="delete(app)">delete</a>
                </td>
            </tr> 
        </tbody>
    </table>
</div>
