<app-modal
    [show]="showModal"
    [saveBtn]="saveButtonText"
    [closeBtn]="'Cancel'"
    [title]="'Create New Application'"
    (close)="closeModal()"
    (submit)="submit()"
    [loading]="loading"
>
    <form [formGroup]="form" *ngIf="form">
        <div class="form-group">
            <label>
                <input formControlName="allowMultiple" type="checkbox" />
                Allow multiple
            </label>
        </div>
        <div class="form-group">
            <label>System ID</label> 
            <input 
              formControlName="systemId" type="text" class="form-control" 
              [ngClass]="{'is-invalid': form.controls.systemId.invalid && form.controls.systemId.touched}">
        </div>
        <div class="form-group">
            <label>Description: </label>
            <app-language-field [title]="'Description'" [form]="form" *ngIf="showModal"></app-language-field> 
        </div>
    </form>
</app-modal>
