<h2 class="section-title">Application Assignment</h2>
<div class="application">
    <div class="form-group">
        <label>Application</label>
        <select #$applicationList class="form-control form-control-sm">
            <option></option>
            <ng-container *ngFor="let app of applications">
                <option *ngIf="!app.removed" [value]="app.systemId">{{app.translations | itranslate}}</option>
            </ng-container>
        </select>
        <button class="btn btn-primary btn-sm" (click)="addApplication($applicationList.value)">Add Application</button>
    </div>
</div>

<div class="level-two" style="height: initial; padding: 0; padding-top: 10px;">
    <div>
        <div *ngFor="let app of selectedApps" class="card">
            <div class="card-header">
                {{app.translations | itranslate}}

                <button (click)="remove(app)" type="button" class="btn btn-link">remove</button>
            </div>
            <div class="card-body">
                <div *ngFor="let attr of app.attributes" class="form-group">
                    <label style="font-size: 0.8rem">{{attr.translations | itranslate}}</label>

                    <select *ngIf="attr.options.length > 0" class="form-control form-control-sm">
                        <option></option>
                        <option *ngFor="let option of attr.options" [value]="option.id">{{option.translations | itranslate}}</option>
                    </select>
                    <input *ngIf="attr.options.length === 0" type="text" class="form-control form-control-sm">
                </div>
            </div>
        </div>
    </div>
</div>
