<h2 class="section-title">Application Assignment</h2>
<div class="application">
    <div class="form-group">
        <label>Application</label>
        <select class="form-control form-control-sm">
            <option></option>
        </select>
        <button class="btn btn-primary btn-sm">Add Application</button>
    </div>
</div>

<div class="level-two" style="height: initial;">
    <div>
        <div class="card">
            <div class="card-header">
                First Application

                <button type="button" class="btn btn-link">remove</button>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Attr1</label>

                    <select class="form-control form-control-sm">
                        <option></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Attr2</label>
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>
        </div>
    </div>
</div>
