<div class="section">
    <div class="section__head">
        <h2 class="section__title">{{title}}</h2>
    </div>
    <div class="section__body">
        <form class="form form--flex" [formGroup]="parentForm.get('generalRoles')" *ngIf="parentForm">
            <div class="form-group">
                <label>Organization</label>
                <select 
                    [ngClass]="{'is-invalid': isInvalid('jobDuty')}"
                    class="form-control form-control-sm" formControlName="jobDuty">
                    <option></option>
                    <option [value]="org.id" *ngFor="let org of dummyData.organization">{{org.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Channel</label>
                <select 
                    [ngClass]="{'is-invalid': isInvalid('channel')}"
                    class="form-control form-control-sm" formControlName="channel">
                    <option></option>
                    <option [value]="ch.id" *ngFor="let ch of dummyData.channel">{{ch.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Team</label>
                <select 
                    [ngClass]="{'is-invalid': isInvalid('team')}"
                    class="form-control form-control-sm" formControlName="team">
                    <option></option>
                    <option [value]="ch.id" *ngFor="let ch of dummyData.team">{{ch.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Business Job Role</label>
                <select 
                    [ngClass]="{'is-invalid': isInvalid('businessRole')}"
                    class="form-control form-control-sm" formControlName="businessRole">
                    <option></option>
                    <option [value]="br.id" *ngFor="let br of dummyData.jobrole">{{br.name}}</option>
                </select>
            </div>
        </form>
    </div>
</div>