.form-control {
    height: initial;
    position: relative;
}
.form-control .tags-list {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.form-control .tags-list li {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #f8f8f8;
    font-size: 88%;
    padding: 0 5px;
    margin-right: 2px;
}
.form-control .hidden-input-box {
    word-break: break-word;
    display: inline-block;
    min-width: 20px;
    outline: none;
    font-size: inherit;
}
.form-control .selection-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 8px 0;
    list-style: none;
}
.form-control .close-btn {
    margin-left: 3px;
    cursor: pointer;
    font-weight: 700;
}
.form-control .selection-dropdown .dropdown-item {
    cursor: pointer;
    font-size: 80%;
}
.form-control .selection-dropdown .dropdown-item:active,
.form-control .selection-dropdown .dropdown-item.active {
    background: #c2ddf2;
    color: #212529;
}