<div (click)="close.emit()" *ngIf="show" class="modal fade show" style="display: block; background: #00000080;" tabindex="-1" role="dialog">
  <div (click)="$event.stopPropagation()" class="modal-dialog" role="document">
    <div class="modal-content">
      <div *ngIf="header" class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button (click)="close.emit()" type="button" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div *ngIf="footer" class="modal-footer">
        <button *ngIf="saveBtn" (click)="submit.emit()" type="button" class="btn btn-primary">{{saveBtn}}</button>
        <button *ngIf="closeBtn" (click)="close.emit()" type="button" class="btn btn-secondary" data-dismiss="modal">{{closeBtn}}</button>
      </div>
    </div>
  </div>
</div>
