<div class="language">
    <div class="language__input">
        <select class="form-control form-control-sm" >
            <option>en</option>
            <option>zh_HK</option>
        </select>
        <input type="text" class="form-control form-control-sm">
        <button type="button" class="btn btn-sm btn-primary">add</button>
    </div>
    <div class="language__values">
        <table>
            <tr>
                <td>
                    Language
                </td>
                <td>
                    Value
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    en
                </td>
                <td>
                    Hello
                </td>
                <td>
                    <a>delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    en
                </td>
                <td>
                    Hello
                </td>
                <td>
                    <a>delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>