<div class="language">
    <form [formGroup]="sourceForm" class="language__input" *ngIf="sourceForm">
        <select 
            [ngClass]="{'is-invalid': isInvalid('language')}"
            class="form-control form-control-sm" formControlName="language">
            <ng-container *ngFor="let lang of languages">
                <option [value]="lang.id" *ngIf="!isLanguageAdded(lang.id)">{{lang.langCode}}</option>
            </ng-container>
        </select>
        
        <input 
            [ngClass]="{'is-invalid': isInvalid('value')}"
            type="text" class="form-control form-control-sm" formControlName="value">

        <button type="button" class="btn btn-sm btn-primary" (click)="add()">add</button>
    </form>

    <form [formGroup]="form" class="language__values">
        <table>
            <tr>
                <td>
                    Language
                </td>
                <td>
                    Value
                </td>
                <td>
                </td>
            </tr>
            <ng-container formArrayName="translations">
                <tr *ngFor="let text of translationsFormArray.controls; let i = index">
                    <td>
                        {{getLanguageName(text.value.language)}}                        
                    </td>
                    <td>
                        {{text.value.value}}
                    </td>
                    <td>
                        <a (click)="delete(i)">delete</a>
                    </td>
                </tr>
            </ng-container>               
        </table>
    </form>
</div>