<div class="section">
    <div class="section__head">
        <h1 class="section__title section__title--large">General Roles Dummy Data</h1>
    </div>
    <div class="section__body">      
        
        <table class="table table-sm draggable">
            <thead>
                <tr>
                    <th scope="col">Organization</th>
                    <th scope="col">Channel</th>
                    <th scope="col">Team</th>
                    <th scope="col">Business Job Role</th> 
                </tr>
            </thead>
            <tbody>
                <tr class="input-fields"> 
                    <th>
                        <div style="display: flex;">
                            <app-language-field style="margin-right: auto; margin-top: 4px;" [title]="'Organization'" [form]="organizationForm"></app-language-field> 
                            <button class="btn btn-primary btn-sm" (click)="save('organization')">+</button>
                        </div>
                    </th>
                    <th>
                        <div style="display: flex;">
                            <app-language-field style="margin-right: auto; margin-top: 4px;" [title]="'Channel'" [form]="channelForm"></app-language-field> 
                            <button class="btn btn-primary btn-sm" (click)="save('channel')">+</button>
                        </div>
                    </th>
                    <th>
                        <div style="display: flex;">
                            <app-language-field style="margin-right: auto; margin-top: 4px;" [title]="'Team'" [form]="teamForm"></app-language-field> 
                            <button class="btn btn-primary btn-sm" (click)="save('team')">+</button>    
                        </div>
                    </th>
                    <th>
                        <div style="display: flex;">
                            <app-language-field style="margin-right: auto; margin-top: 4px;" [title]="'Business Job Role'" [form]="businessJobRoleForm"></app-language-field> 
                            <button class="btn btn-primary btn-sm" (click)="save('jobrole')">+</button>
                        </div>
                    </th>
                </tr>
                <tr> 
                    <td>
                        <ul>
                            <li *ngFor="let item of list.organization; let i = index">
                                {{item.translation | itranslate}}
    
                                <a (click)="delete(item , 'organization')">delete</a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li *ngFor="let item of list.channel; let i = index">
                                {{item.translation | itranslate}}
                                
                                <a (click)="delete(item , 'channel')">delete</a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li *ngFor="let item of list.team; let i = index">
                                {{item.translation | itranslate}}
                                
                                <a (click)="delete(item , 'team')">delete</a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li *ngFor="let item of list.jobrole; let i = index">
                                {{item.translation | itranslate}}
    
                                <a (click)="delete(item , 'jobrole')">delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table> 
        
    </div>
</div>