<h2 class="section-title">General Role Maintenance</h2>
<form>
    <div class="row">
        <div class="col-3">
            <label>Organization</label>
            <select class="form-control form-control-sm">
                <option></option>
            </select>
        </div>
        <div class="col-3">
            <label>Channel</label>
            <select class="form-control form-control-sm">
                <option></option>
            </select>
        </div>
        <div class="col-3">
            <label>Team</label>
            <select class="form-control form-control-sm">
                <option></option>
            </select>
        </div>
        <div class="col-3">
            <label>Business Job Role</label>
            <select class="form-control form-control-sm">
                <option></option>
            </select>
        </div>
    </div>
</form>
