<div class="section"> 
    <div class="section__body">
        <div class="section" *ngFor="let row of data;let i = index"> 
            <div class="section__head main"> 
                <h1 class="section__title">
                    <div class="daterange">
                        <label>
                            From Date:
                            <strong>{{row.daterange.from}}</strong>
                        </label>
                        <label>
                            To Date:
                            <strong>{{row.daterange.to}}</strong>
                        </label>
                    </div>
                </h1>

                <a class="remove" (click)="remove(i)">remove</a>
            </div>
            <div class="section__body"> 
                
                <div class="section attributes"> 
                    <div class="section__head"> 
                        <h1 class="section__title">
                            General Role
                        </h1>
                    </div>
                    <div class="section__body">  
                        <table class="table table-sm" >
                            <tbody> 
                                <tr> 
                                    <td>
                                        <strong>
                                            Organization: 
                                        </strong>
                                        {{displayGeneralRole('organization',row.generalRole.jobDuty)}}</td>
                                    <td>
                                        <strong>
                                            Channel: 
                                        </strong>
                                        {{displayGeneralRole('channel',row.generalRole.channel)}}
                                    </td>
                                    <td>
                                        <strong>
                                            Team: 
                                        </strong>
                                        {{displayGeneralRole('team',row.generalRole.team)}}
                                    </td>   
                                    <td>
                                        <strong>
                                            Business Job Role: 
                                        </strong>
                                        {{displayGeneralRole('jobrole',row.generalRole.businessRole)}}
                                    </td>   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="section attributes"> 
                    <div class="section__head"> 
                        <h1 class="section__title">
                            Attributes
                        </h1>
                    </div>
                    <div class="section__body"> 
                        <table class="table table-sm" >
                            <thead>
                                <tr> 
                                    <th scope="col">ID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Value</th>   
                                </tr>
                            </thead>
                            <tbody> 
                                <tr *ngFor="let attr of row.attributes">
                                    <td>{{attr.id}}</td>
                                    <td>{{attr.translations | itranslate}}</td>
                                    <td> 
                
                                        <input *ngIf="!attr.options || attr.options.length === 0;else withOptions" class="form-control form-control-sm" type="text">
                
                                        <ng-template #withOptions>
                                            <select class="form-control form-control-sm">
                                                <option></option>
                                                <ng-container *ngFor="let option of attr.options">
                                                    <option [selected]="option.isDefault" [value]="option.id">{{option.translations | itranslate}}</option>
                                                </ng-container> 
                                            </select>
                                        </ng-template>
                
                                    </td> 
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div> 

                <div class="blocker"></div>
            </div>
        </div>

        
    </div>
</div>

