<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">General Role List</li>
    </ol>
</nav>

<div class="table-list">
    <div class="table-list__buttons">
        <label></label>
        <button type="button" class="btn btn-sm btn-primary">Add New General Role</button>
    </div>
    <table class="table table-sm">
        <thead>
            <tr> 
                <th scope="col">Organization</th>
                <th scope="col">Channel</th>
                <th scope="col">Team</th>
                <th scope="col">Business Job Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody> 
            <tr> 
                <td>
                    Fullfilment / CFM
                </td>
                <td>
                    CS_SC_14
                </td>
                <td>
                    CSS
                </td>
                <td>
                    Supervisor
                </td>
                <td class="table-list__actions">
                    <a >edit</a>
                    <a >delete</a>
                </td>
            </tr>
            <tr> 
                <td>
                    Smart Charge / SCS
                </td>
                <td>
                    VCC
                </td>
                <td>
                     RET
                </td>
                <td>
                    Frontline
                </td>
                <td class="table-list__actions">
                    <a >edit</a>
                    <a >delete</a>
                </td>
            </tr>
            <tr> 
                <td>
                    Outbound Sales (call center) / OBS
                </td>
                <td>
                    OBS
                </td>
                <td>
                    CS_SC_14
                </td>
                <td>
                    Sales Manager
                </td>
                <td class="table-list__actions">
                    <a >edit</a>
                    <a >delete</a>
                </td>
            </tr> 
            
        </tbody>
    </table>
</div>
