<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">General Role List</li>
    </ol>
</nav>

<div class="table-list">
    <div class="table-list__buttons">
        <label></label>
        <a routerLink="/general-roles/create" type="button" class="btn btn-sm btn-primary">Add New General Role</a>
    </div>
    <table class="table table-sm">
        <thead>
            <tr> 
                <th scope="col">Organization</th>
                <th scope="col">Channel</th>
                <th scope="col">Team</th>
                <th scope="col">Business Job Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let generalRole of generalRoles"> 
                <td>
                    {{generalRole.organization.name}}
                </td>
                <td>
                    {{generalRole.channel.name}}
                </td>
                <td>
                    {{generalRole.team.name}}
                </td>
                <td>
                    {{generalRole.businessJobRole.name}}
                </td>
                <td class="table-list__actions">
                    <a >edit</a>
                    <a (click)="remove(generalRole)">delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
