<div class="levelOne">
        <div class="form-group">
            <label>Job Duty</label>
            <select class="form-control form-control-sm">
                <option></option>
            </select>
        </div>
        <div class="form-group">
            <label>Business Role</label>
            <select class="form-control form-control-sm">
                    <option></option>
            </select>
        </div>
        <div class="form-group">
            <label>Channel</label>
            <select class="form-control form-control-sm">
                    <option></option>
            </select>
        </div>
</div>
<div class="application">
        <div class="form-group">
            <label>Application</label>
            <select class="form-control form-control-sm">
                <option></option>
                <option>SVC/SB</option>
                <option>BOM MOB</option>
                <option>Ruby (SF)</option>
            </select>
            <button class="btn btn-primary btn-sm">Add Application</button>
        </div>
</div>
<div class="level-two">
        <div class="card">
            <div class="card-header">
                SVC / SB
                <button type="button" class="btn btn-link">remove</button>
            </div>
            <div class="card-body">
                    <div class="form-group">
                        <label>Function Group</label>
                        <select class="form-control form-control-sm">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Channel ID</label>
                        <select class="form-control form-control-sm">
                                <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Channel CD</label>
                        <select class="form-control form-control-sm">
                                <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Center CD</label>
                        <select class="form-control form-control-sm">
                            <option></option>
                        </select>
                    </div> 
            </div>
        </div>
        <div class="card">
                <div class="card-header">
                    Ruby ( SF )

                    <button type="button" class="btn btn-link">remove</button>
                </div>
                <div class="card-body">
                        <div class="form-group">
                            <label>Function Group</label>
                            <select class="form-control form-control-sm">
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Channel ID</label>
                            <select class="form-control form-control-sm">
                                    <option></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Channel CD</label>
                            <select class="form-control form-control-sm">
                                    <option></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Center CD</label>
                            <select class="form-control form-control-sm">
                                <option></option>
                            </select>
                        </div> 
                        <div class="form-group">
                            <label>Profile ID</label>
                            <select class="form-control form-control-sm">
                                <option></option>
                            </select>
                        </div> 
                </div>
            </div>
            <!-- <div class="card">
                    <div class="card-header">
                        SVC / SB
                    </div>
                    <div class="card-body">
                            <div class="form-group">
                                <label>Job Duty</label>
                                <select class="form-control form-control-sm">
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Business Role</label>
                                <select class="form-control form-control-sm">
                                        <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Channel</label>
                                <select class="form-control form-control-sm">
                                        <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Job Duty</label>
                                <select class="form-control form-control-sm">
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Business Role</label>
                                <select class="form-control form-control-sm">
                                        <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Channel</label>
                                <select class="form-control form-control-sm">
                                        <option></option>
                                </select>
                            </div>
                    </div>
                </div>      -->
</div>

<div class="submit">
    <button class="btn btn-primary">Submit</button>
</div>