<form class="levelOne" [formGroup]="levelOneForm">
        <div class="form-group">
            <label>Job Duty</label>
            <select class="form-control form-control-sm" formControlName="job_duty_id">
                <option></option>
                <option [value]="jobDuty.id" *ngFor="let jobDuty of firstLeveldata.jobDuties">{{jobDuty.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Business Role</label>
            <select class="form-control form-control-sm" formControlName="business_role_id">
                    <option></option>
                    <option [value]="br.id" *ngFor="let br of firstLeveldata.businessRoles">{{br.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Channel</label>
            <select class="form-control form-control-sm" formControlName="channel_id">
                    <option></option>
                    <option [value]="ch.id" *ngFor="let ch of firstLeveldata.channels">{{ch.name}}</option>
            </select>
        </div>
</form>

<form [formGroup]="applicationForm" class="application">
    <div class="form-group">
        <label>Application</label>
        <select class="form-control form-control-sm" formControlName="application">
            <option></option>
            <ng-container *ngFor="let app of applications">
                <option *ngIf="!isAppAlreadySelected(app.id)" [value]="app.id" >{{app.name}}</option>
            </ng-container>
            
        </select>
        <button class="btn btn-primary btn-sm" (click)="addApplication()">Add Application</button>
    </div>
</form>

<div [formGroup]="levelTwoForm" class="level-two" >
    <div formArrayName="applications">
        <div class="card" *ngFor="let app of selectedApplications; let i=index" [formGroupName]="i">
            <input type="hidden" formControlName="app_id"> 
            
            <div class="card-header">
                {{app.name}}
                <button type="button" class="btn btn-link" (click)="removeApplication(app.id, i)">remove</button>
            </div>
            <div class="card-body">
                    <div class="form-group" *ngFor="let attr of app.attributes">
                        <label> {{attr.categoryValue}}</label> 
                        <select class="form-control form-control-sm" [formControlName]="getAttributeFormName(attr.categoryValue)">
                            <option></option>
                            <option [value]="option.categoryId" *ngFor="let option of attr.options">
                                {{option.categoryValue}}
                            </option>
                        </select>                        
                    </div>
            </div>

        </div>
    </div>
</div>

<div class="submit">
    <button class="btn btn-primary" (click)="save()">Save</button>
</div>