<div class="levelOne">
        <div class="form-group">
            <label>Job Duty</label>
            <select class="form-control form-control-sm">
                <option></option>
                <option [value]="jobDuty.id" *ngFor="let jobDuty of firstLeveldata.jobDuties">{{jobDuty.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Business Role</label>
            <select class="form-control form-control-sm">
                    <option></option>
                    <option [value]="br.id" *ngFor="let br of firstLeveldata.businessRoles">{{br.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Channel</label>
            <select class="form-control form-control-sm">
                    <option></option>
                    <option [value]="ch.id" *ngFor="let ch of firstLeveldata.channels">{{ch.name}}</option>
            </select>
        </div>
</div>

<form [formGroup]="form" class="application">
    <div class="form-group">
        <label>Application</label>
        <select class="form-control form-control-sm" formControlName="application">
            <option></option>
            <ng-container *ngFor="let app of applications">
                <option *ngIf="!isAppAlreadySelected(app.id)" [value]="app.id" >{{app.name}}</option>
            </ng-container>
            
        </select>
        <button class="btn btn-primary btn-sm" (click)="addApplication()">Add Application</button>
    </div>
</form>

<div class="level-two">
        <div class="card" *ngFor="let app of selectedApplications">
            <div class="card-header">
                {{app.name}}
                <button type="button" class="btn btn-link" (click)="removeApplication(app.id)">remove</button>
            </div>
            <div class="card-body">
                    <div class="form-group" *ngFor="let attr of app.attributes">
                        <label> {{attr.name}} </label>
                        <select class="form-control form-control-sm">
                            <option></option>
                            <option *ngFor="let option of getAttributeOptions(attr.id).options">
                                {{option.label}}
                            </option>
                        </select>
                    </div>
            </div>
        </div>
</div>

<div class="submit">
    <button class="btn btn-primary">Submit</button>
</div>