<header class="header">
    <div class="header__inner">
      <a class="header__logo" routerLink="/">
        <h1>UAM</h1>
      </a> 
      <div>
        <a style="color: white; margin-left: 15px;" routerLink="/general-role-maintenance/list">GR</a>
        <a style="color: white; margin-left: 15px;" routerLink="/attribute-maintenance/list">Attr</a>
        <a style="color: white; margin-left: 15px;" routerLink="/application-maintenance/list">App</a>
      </div>
    </div>
</header>

<div class="content">
    <div class="content__inner"> 
        <router-outlet></router-outlet>
    </div>
</div>