<div style="padding: 10px; margin-bottom: 15px;">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label>From Date</label>
                        <input class="form-control form-control-sm" type="date" />
                    </div>
                    <div style="position: relative;" class="col-6">
                        <label>To Date</label>
                        <input class="form-control form-control-sm" type="date" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-right">
            <button class="btn btn-primary btn-sm">Add New</button>
        </div>
    </div>
</div>
