<h2 class="section-title">
    Attributes
    <button type="button" class="btn btn-sm btn-success">Add New Attribute</button>
</h2>
<table class="table table-sm draggable">
    <thead>
        <tr> 
            <th scope="col" style="font-size: 0.9rem; font-weight: 500;">ID</th>
            <th scope="col" style="font-size: 0.9rem; font-weight: 500;">Title</th>
            <th scope="col" style="font-size: 0.9rem; font-weight: 500;">Value</th>                
            <th scope="col" style="font-size: 0.9rem; font-weight: 500;"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="font-size: 0.8rem;">Attr1</td>
            <td style="font-size: 0.8rem;">Sample Attribute 1</td>
            <td style="font-size: 0.8rem;"><input style="font-size: 13px; padding: 2px 4px; height: 25px;" class="form-control form-control-sm" type="text"></td>
            <td style="font-size: 0.8rem;" class="text-right"><a href="#">edit</a> | <a href="#">delete</a></td>
        </tr>
    </tbody>
</table>
