<div class="table-list mt-2">
    <div class="table-list__buttons">
        <label style="font-size: 0.8rem; font-weight: 500;">Attributes</label>
        <button type="button" class="btn btn-sm btn-success">Add New Attribute</button>
    </div>
    <table class="table table-sm draggable">
        <thead>
            <tr> 
                <th scope="col" style="font-size: 14px">ID</th>
                <th scope="col" style="font-size: 14px">Title</th>
                <th scope="col" style="font-size: 14px">Value</th>                
                <th scope="col" style="font-size: 14px"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="font-size: 14px">Attr1</td>
                <td style="font-size: 14px">Sample Attribute 1</td>
                <td style="font-size: 14px"><input style="font-size: 13px; padding: 2px 4px; height: 25px;" class="form-control form-control-sm" type="text"></td>
                <td style="font-size: 14px" class="text-right"><a href="#">edit</a> | <a href="#">delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
