<!-- <div class="attribute-heading">
    <h2 class="attribute-heading__title">Attributes</h2>
    <button class="btn btn-sm btn-success attribute-heading__button">Add New Attribute</button>
</div>
-->

<div class="section">
    <div class="section__head">
        <h1 class="section__title section__title--large">General Role List</h1>

        <button class="btn btn-sm btn-primary attribute-heading__button" (click)="add()">Add New General Role</button>
    </div>
    <div class="section__body">      
        
        <table class="table table-sm draggable">
            <thead>
                <tr>
                    <th scope="col">Organization</th>
                    <th scope="col">Channel</th>
                    <th scope="col">Team</th>
                    <th scope="col">Business Job Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Organization 1</td>
                    <td>Channel 1</td>
                    <td>
                        Team 1
                    </td>
                    <td>
                        Business Job Role
                    </td>
                    <td class="table__actions">
                        <a (click)="edit()" >edit</a> | 
                        <a (click)="delete()" >delete</a>
                    </td>
                </tr> 
            </tbody>
        </table> 
        
    </div>
</div>