.application{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: .5rem;

    > div{
        flex:1;
    }
}


.existingAttribute{
    border-right: 1px solid #ddd;
    padding-right: 1rem;

    label{
        -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
            cursor:pointer;
    }
}