/* You can add global styles to this file, and also import other style files */

/***
    BOOTSTRAP OVERRIDES
***/

.form-group{
    margin-bottom: .25rem;

    label{
        margin-bottom: .25rem;
        font-size: 0.75rem;
        font-weight: 500;
    }
}

.table {
    margin-bottom: 0;
    td {
        font-size: 0.75rem;
    }
    th {
        font-size: 0.8rem;
    }

    &__actions{
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: flex-end;

        a{
            cursor:pointer;
            color: blue !important;
        }
    }
}

.large .modal-dialog{
    width: 55rem;
    max-width: none;
}

.large .modal-body{
    max-height: 70vh;
    overflow-y: auto;
}
/*** --------------------------------- ***/


/***
    Pre Defined Class
***/

.form {
    .form-group{
        flex: 1;
    }

    &--flex {
        display:flex;
        align-items: center;
        gap: .5rem;

        .form-group{
            margin: 0;
        }
    }

    &--inline {
        .form-group{
            flex: none;

            label {
                margin:0 .5rem 0 0;
            }

            display: flex;
            align-items:center;
        }        
    }
}

.section {
    background: #fff;
    border-radius: 0.25rem;
    margin-bottom: .5rem;
    border: 1px solid #c5c5c5;
    overflow: hidden;
    
    &--no-border{
        border:none;
    }

    &__head{
        padding: 0.5rem;
        border-bottom: 2px solid #5b93c7;
        background: rgb(14 115 206 / 0.25);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title{
        font-size: 0.8rem;
        margin:0;

        &--medium{
            font-size: 1rem;
        }
        
        &--large{
            font-size: 1.15rem;
        }
    }

    &__body {
        padding:.5rem;
    }
}

.h-spacer{
    height: 2px;
    width:100%;
    display:block;
    background: #b5b5b5;
    margin: .5rem 0;
}

.capitalize{
    text-transform: capitalize;
}

/*** --------------------------------- ***/
